.cart-container{
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

.cart-container h2{
    margin-bottom: 20px;
}

.cart-item{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.cart-item img{
    width: 120px;
}

.cart-info{
    flex: 1;
}

.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.quantity button{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.quantity button:hover{
    opacity: 0.6;
}

.remove{
    background: none;
    color: red;
    border: none;
    cursor: pointer;
}

.car-total{
    text-align: right;
    margin-top: 20px;
    font-size: 1.3rem;
}

.empty-cart{
    text-align: center;
    margin-top: 50px;
}

.cart-header{
    margin-bottom: 15px;
}

.back-home{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.back-home:hover{
    text-decoration: underline;
}

.checkout-btn{
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
}

.checkout-btn:hover{
    opacity: 0.9;
}

@media (max-width: 500px){

    .cart-container{
        padding-top: 20%;
    }

    .cart-header{
        padding-top: 15%;
    }
}