.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal{
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.modal button{
    margin-top: 20px;
    padding: 10px 20px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.modal button:hover{
    opacity: 0.5;
}