.product-details{
    padding: 60px 20px;
}

.product-details-container{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.product-details-image img{
    width: 80%;
    border-radius: 8px;
}


.product-details-info h1{
    font-size: 28px;
    margin-bottom: 10px;
}

.price{
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}

.old-price{
    text-decoration: line-through;
    color: #888;
    font-size: 16px;
}

.description{
    margin: 20px 0;
    line-height: 1.6;
}

.btn-buy{
    padding: 14px 24px;
    background: #2d2d2d;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.remove-buy{
    padding: 14px 24px;
    background: #e63946;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.remove-buy:hover{
    opacity: 0.9;
}

.btn-buy:hover{
    opacity: 0.9;
}

.back-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ccc;
    border: 2px solid #ddd;
    padding: 14px 38px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px v8px rgba(0, 0, 0, 0.1);
}

.back-button:hover{
    background: #f5f5f5;
}


@media(max-width: 700px){
    .product-details-container{
        grid-template-columns: 1fr;
        padding-top: 80px;
    }

    .product-details-image img{
        width: 50%;
    }
}